# Go build artifacts
/bin/
/pkg/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib

# Go module files
/go.sum
go.sum

# k6 build artifacts
*.tmp
*.out
*.log

# VSCode / IDE files
.vscode/
.idea/
*.code-workspace

# Node / JS wrapper
node_modules/
*.tsbuildinfo

# macOS
.DS_Store

# Temporary files
*.swp
*.swo
*.bak

# k6
k6
